<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Java2Neo4J/src/de/chw/sdg/Sdg.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.chw.sdg.Sdg"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-cp C:/Users/chw/git/findbugs/findbugs/src/java;C:/Users/chw/git/findbugs/findbugs/src/java/edu/umd/cs/findbugs/ba;C:/Users/chw/git/findbugs/findbugs/lib/bcel.jar;C:/Users/chw/git/findbugs/findbugs/lib/dom4j-1.6.1.jar;C:/Users/chw/git/findbugs/findbugs/lib/jsr305.jar;C:/Users/chw/git/findbugs/findbugs/lib/commons-lang-2.6.jar;C:/Users/chw/git/findbugs/findbugs/lib/jcip-annotations.jar;C:/Users/chw/git/findbugs/findbugs/lib/jaxen-1.1.6.jar;C:/Users/chw/git/findbugs/findbugs/lib/asm-debug-all-6.0-SNAPSHOT.jar&#13;&#10;-pp -w&#13;&#10;-src-prec java&#13;&#10;-no-bodies-for-excluded&#13;&#10;-keep-line-number&#13;&#10;-x org.apache&#13;&#10;-i edu.emd.findbugs&#13;&#10;-p jb use-original-names:true&#13;&#10;-p jap.fieldrw enabled:true&#13;&#10;-p tag.fieldrw enabled:true&#13;&#10;-main-class edu.umd.cs.findbugs.ba.AnalysisContext&#13;&#10;edu.umd.cs.findbugs.ba.AnalysisContext"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java2Neo4J"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<booleanAttribute key="xrebel.isEnabled" value="false"/>
</launchConfiguration>
