<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Java2Neo4J/src/de/chw/sdg/Sdg.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.debug.ui.ATTR_CAPTURE_IN_FILE" value="opensource-apps/konsolenausgabe-kieker-monitoring.txt"/>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.chw.sdg.Sdg"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-cp opensource-apps\kieker-1.12.jar;opensource-apps\kieker-1.12&#13;&#10;-prepend-classpath&#13;&#10;-app&#13;&#10;-w&#13;&#10;-no-bodies-for-excluded&#13;&#10;-keep-line-number&#13;&#10;-p jb use-original-names:true&#13;&#10;-main-class kieker.tools.traceAnalysis.TraceAnalysisTool&#13;&#10;kieker.tools.traceAnalysis.TraceAnalysisTool"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java2Neo4J"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Xmx3g -XX:+HeapDumpOnOutOfMemoryError"/>
<booleanAttribute key="xrebel.isEnabled" value="false"/>
</launchConfiguration>
