<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Java2Neo4J-tnr"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.CLASSPATH_PROVIDER" value="org.eclipse.m2e.launchconfig.classpathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="soot.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-cp bin&#13;&#10;-no-bodies-for-excluded&#13;&#10;-keep-line-number&#13;&#10;-p jb use-original-names:true&#13;&#10;-p jop.dae off&#13;&#10;-p jb.ne off&#13;&#10;-p jj.ne off&#13;&#10;-p jb.ule off&#13;&#10;-p jj.ule off&#13;&#10;-p jb.uce off&#13;&#10;-p jj.uce off&#13;&#10;-p jb.dae off&#13;&#10;-p jj.dae off&#13;&#10;-p jop.dae off&#13;&#10;-p jop off&#13;&#10;-p jtp off&#13;&#10;-f jimple&#13;&#10;de.chw.sdg.example.branch.Branch"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Java2Neo4J-tnr"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.m2e.launchconfig.sourcepathProvider"/>
<booleanAttribute key="xrebel.isEnabled" value="false"/>
</launchConfiguration>
